.App {
  /* text-align: center; */
  /* margin-left: 30px; */
  margin-top: 80px;
}

.input {
  /* width: 100%; */
  margin-bottom: 30px;
}

.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: black; */
}

.tree {
  margin-left: 20px;
}

.todoCard {
  margin: auto;
  margin-bottom: 30px;
  width: 800px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.updateBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.section {
  display: flex;
}

.left-section {
  /* background-color: aqua; */
  flex: 1;
}

.mid-section {
  flex: 1;
}

.right-section {
  flex: 1;
}

/* .custom-file-upload {
  display: inline-block;
  padding: 10px 10px;
  background-color: #cccccc;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
} */

.custom-file-upload {
  display: inline-block;
  padding: 10px 10px;
  background-color: #cccccc;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  /* white-space: nowrap; */
}


/* Hide the input element */
#file-upload {
  display: none;
}

.file-upload-container {
  display: flex;
  align-items: center; 
}

.excel-button-container {
  display: "flex";
  justify-content: "flex-end";
  margin-top: "1.5em";
}

/* .file-name-container {
  width: 100%; // no flex is the problem
  overflow: hidden;
  text-overflow: ellipsis;
} */

.file-name-container {
  flex: 1; 
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}


.file-name {
  margin: 0;
  white-space: nowrap;
}